@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');

.App {
  text-align: center;  
  width: 100%;
  height: 100vh;
}

.header {
  font-family: 'Covered By Your Grace', cursive;
  display: flex;
  background-color: #a5a58d;
}

.main-body {
  font-family: 'Covered By Your Grace', cursive;
  background-color: #f0efeb
}


